body {
  position: relative;
  background-image: url("assets/blurred-bokeh-pattern-wallpaper-soft-touch-your-walls_1017-43483.jpg");
  background-size: cover;
}

.headerr{
  background-image:
    url("assets/IMG_6271.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  width: 100%;
  padding: 15%;
  color: white;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 80px;
  border-radius: 50px;
}

.mobile_header {
  background-image:
    url("assets/IMG_6271.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 32%;
  background-size: 75%;
  color: white;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 90px;
  border-radius: 50px;
}

.card {
  width: 300px;
  display: inline-block;
  margin: 10px;
}

.card-img-top {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card-footer .price {
  position: absolute;
  right: 20px;
}

section {
  padding: 40px 0;
}

#properties,#testimonials,#mision,#donation {
  background-color: rgba(110,110,0,0.1);
  border-radius: 90px;
  margin-bottom: 50px;
}

#about-us,#meta,#unirse {
  margin-bottom: 50px;
}

#properties-target,#testimonials-target,#about-us-target,#mision-target,#meta-target,#unirse-target,#donation-target {
  position: relative;
  top: -100px;
}

.navbar {
  transition-duration: .5s !important;
}


.carousel-item {
  transition: transform 0.6s ease; /* Changes transition of images to faster time */
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: 50px;
  background-color: transparent !important;
}

/*Used to resize the carousels width as needed. The height is adjusted in the image tag of the carousel*/
.custom-carousel {
  width: 85%; /* Adjust the width as needed */
  margin: auto; /* Center the carousel horizontally */
}


.carousel-inner {
  border-radius: 50px;
  width: 100% !important;
  max-height: 50% !important;
}

.carousel-item:after {
  content:"";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.2);
}

.carousel-caption {
  z-index: 1;
  font-size: 17px !important;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);

}

.carousel-caption h5 {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);

}

@media (min-width: 800px) {
    .container{
        max-width: 1800px;
    }
}

.input_normal{
  width: 25%;
}

.input_mobile{
  width: 75%;
}

.vision_pc{
  padding-left: 140px !important; 
  padding-right: 140px !important;
}
/*for the quote under vision text*/
.vision_pcq{
  padding-left: 350px !important; 
  padding-right: 350px !important;
}

.list_style{
  font-size: 26px; 
  padding-right: 15px;
  padding-bottom: 30px;
}

.list_style_mobile{
  font-size: 23px; 
  padding-right: 15px;
  padding-bottom: 30px;
}

.identidad_pc{
  padding-top: 20px;
  padding-left: 140px !important; 
  padding-right: 140px !important;
}

.licenciatura_pc{
  padding-top: 20px;
  padding-left: 140px !important; 
  padding-right: 140px !important;
}

.misiones_pc{ /*para los versos de misiones*/
  padding-top: 20px;
  padding-left: 140px !important; 
  padding-right: 140px !important;
}

.misiones_mobile{ /*para los versos de misiones en movil*/
  padding-top: 20px;
  padding-left: 10px !important; 
  padding-right: 10px !important;

}

.header_text{
  text-align: center; 
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 80px;

}

.header_text_mobile{
  text-align: center; 
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 35px;

}

.body_text{
  font-size: 28px;
}

.body_text_mobile{
  font-size: 23px;
}

.body_quote{
  font-size: 23px;
  text-align: center;
}

.body_quote_mobile{
  font-size: 20px;
  text-align: center;
}

.aportar_size{
  width: 160px;
}

.aportar_size_mobile{
  width: 100px;
}

.overlayy {
  background-image: url('assets/Card2.jpg');
  background-size: cover;
  background-position: bottom right; /* Centered by default */
  width: 60%;
  height: 370px;
  border-radius: 10px;
}

.overlayy_mobile {
  background-image: url('assets/Card2.jpg');
  background-size: cover;
  background-position: bottom right; /* Centered by default */
  width: 90%;
  height: 370px;
  border-radius: 10px;
}

